<%= form_with(model: pix, local: true) do |form| %>
  <% if pix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pix.errors.count, "error") %> prohibited this pix from being saved:</h2>

      <ul>
      <% pix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :character_id %>
    <%= form.collection_select :character_id, Character.all, :id, :display_name %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :msg %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
