<%= form_with(model: pix, local: true) do |form| %>
  <% if pix.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading"><%= pluralize(pix.errors.count, "error") %> prohibited this pix from being saved:</h6>

      <ul>
      <% pix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :scenario_id %>
    <%= form.collection_select :scenario_id, Scenario.all, :id, :name, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :character_id %>
    <%= form.collection_select :character_id, Character.all, :id, :display_name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :msg, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn' %>
  </div>
<% end %>
