<div class="character-header card-header" style="background-color:<%= character.color %>">
    <div class="u-inline-block">
        <% if character.avatar.attached? %>
            <%= image_tag(character.avatar, size: 75) %>
        <% end %>
    </div>
    <div class="u-inline-block handle">
        <a href="<%= url_for character %>">
            <strong><%= content_tag :div, character.display_name %></strong>
            <%= content_tag :div, character.handle %>
        </a>
    </div>
</div>