<h1>Characters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Handle</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.display_name, character %></td>
        <td><%= character.handle %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New character', new_character_path %>
