<p id="notice"><%= notice %></p>

<%= image_tag(@character.avatar, size: 250) %>
<div style="background-color:<%= @character.color %>">
  <p>
    <strong>Name:</strong>
    <%= @character.display_name %>
  </p>

  <p>
    <strong>Handle:</strong>
    <%= @character.handle %>
  </p>
</div>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
