<p id="notice"><%= notice %></p>

<%= image_tag(@character.avatar, size: 250) %>

<p>
  <strong>Name:</strong>
  <%= @character.display_name %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
