<% if notice %>
  <div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'All Characters', characters_path %>

<div id="new-character-pix">
  <%= render 'header', character: @character %>
    <div>
      <%= form_with model: Pix.new do |f| %>
        <%= f.hidden_field :character_id, value: @character.id %>
        <%= f.text_area :msg, placeholder: 'New pix here.', class: 'form-control' %>
        <%= f.submit 'Post', type: 'submit', class: 'btn btn-outline-light' %>
      <% end %>
    </div>
</div>

<% @character.pixes.without_scenario.each do |pix| %>
  <%= render 'pixes/view', pix: pix %>
<% end %>
