<%= form_with(model: scenario, local: true) do |form| %>
  <% if scenario.errors.any? %>
     <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading"><%= pluralize(scenario.errors.count, "error") %> prohibited this scenario from being saved:</h6>

      <ul>
      <% scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :attending_characters %>
    <%= form.collection_select :character_ids, Character.all, :id, :name_and_version, {}, multiple: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn' %>
  </div>
<% end %>
