<%= form_with(model: scenario, local: true) do |form| %>
  <% if scenario.errors.any? %>
     <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading"><%= pluralize(scenario.errors.count, "error") %> prohibited this scenario from being saved:</h6>

      <ul>
      <% scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :attending_characters %>
    <%= form.collection_check_boxes :character_ids, Character.all, :id, :itself do |m| %>
      <div class="mb-2">
        <%= m.check_box(class: 'form-control col-1 d-inline-block align-bottom') %>
        <div class="col-8 d-inline-block">
          <%= render 'characters/header', character: Character.find_by(id: m.value) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn' %>
  </div>
<% end %>
