<h1 class="u-text-white"><%= @scenario.name %></h1>
<div class="btn-group" role="group" aria-label="Navigation">
  <%= link_to 'Edit', edit_scenario_path(@scenario), class: 'btn btn-outline-light' %>
  <%= link_to 'Back', scenarios_path, class: 'btn btn-outline-light' %>
  <%= link_to 'Summary', @scenario.summary_link, target: '_blank', class: 'btn btn-outline-light' %>
</div>
  
<% @scenario.pixes.order(:created_at).each do |pix| %>
  <%= render 'pixes/view', pix: pix %>
<% end %>

<div id="new-pix">
  <%= form_with model: Pix.new do |f| %>
    <%= f.hidden_field :scenario_id, value: @scenario.id %>
    <div class="mb-2">
      <%= f.collection_select :character_id, @scenario.characters, :id, :display_name, {}, class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= f.text_field :msg, class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= f.submit 'Post', type: 'submit', class: 'btn' %>
    </div>
  <% end %>
</div>
