<% content_for :head do %>
  <meta http-equiv="refresh" content="300">
<% end %>
<h1 class="u-text-white"><%= @scenario.name %></h1>
<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>

<% @scenario.pixes.order(:created_at).each do |pix| %>
  <%= render 'pixes/view', pix: pix %>
<% end %>

<div id="new-pix">
  <%= form_with model: Pix.new do |f| %>
    <%= f.hidden_field :scenario_id, value: @scenario.id %>
    <div class="mb-2">
      <%= f.collection_select :character_id, @scenario.characters, :id, :display_name, {}, class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= f.text_field :msg, class: 'form-control' %>
    </div>
    <div class="mb-2">
      <%= f.submit 'Post', type: 'submit', class: 'btn btn-outline-light' %>
    </div>
  <% end %>
</div>
