<p id="notice"><%= notice %></p>

<h1><%= @scenario.name %></h1>
<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>

<% @scenario.pixes.each do |pix| %>
  <%= render 'pixes/view', pix: pix %>
<% end %>

<div id="new-pix">
  <%= form_with model: Pix.new do |f| %>
    <%= f.hidden_field :scenario_id, value: @scenario.id %>
    <%= f.collection_select :character_id, Character.all, :id, :display_name %>
    <%= f.text_field :msg %>
    <%= f.submit 'Post', type: 'submit' %>
  <% end %>
</div>