<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" href="#"><%= link_to 'Pixie', root_path, class: 'navbar-brand' %></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
    <%= link_to 'Characters', characters_path, class: 'nav-link' %>
    <%= link_to 'Scenarios', scenarios_path, class: 'nav-link' %>
    <% if current_user&.admin %>
      <%= link_to 'Users', users_path, class: 'nav-link' %>
    <% end %>

    <% if current_user %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
      <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
    <% end %>
    
  </div>

</nav>